Repository jsx-eslint/eslint-plugin-react, pull requests merged in 2018-06, with the labels that each got.

#1805 [Docs] Typo fixes in jsx-no-target-blank
  docs/rules/jsx-no-target-blank.md
Labels: documentation

#1825 Allow LHS in destructuring-assignment
  lib/rules/destructuring-assignment.js
  tests/lib/rules/destructuring-assignment.js
Labels: bug

#1831 Added `no-unsafe` rule
  README.md
  docs/rules/no-unsafe.md
  index.js
  lib/rules/no-unsafe.js
  tests/lib/rules/no-unsafe.js
Labels: new rule

#1851 Account for pragma in button-has-type
  lib/rules/button-has-type.js
  tests/lib/rules/button-has-type.js
Labels: bug, rule

#1854 For deprecated lifecycle methods, report identifier AST node instead of the class node
  lib/rules/no-deprecated.js
  lib/util/ast.js
  tests/lib/rules/no-deprecated.js
Labels: enhancement, rule

#1867 Fix JSX Syntax
  docs/rules/jsx-one-expression-per-line.md
Labels: documentation

#1868 Add ignoreDOMComponents option to jsx-no-bind
  docs/rules/jsx-no-bind.md
  lib/rules/jsx-no-bind.js
  lib/rules/jsx-no-undef.js
  lib/rules/jsx-pascal-case.js
  lib/rules/jsx-sort-props.js
  lib/rules/no-danger.js
  lib/rules/self-closing-comp.js
  lib/util/jsx.js
  tests/lib/rules/jsx-no-bind.js
Labels: enhancement, rule

#1863 Make attribute "charset" valid
  lib/rules/no-unknown-property.js
  tests/lib/rules/no-unknown-property.js
Labels: bug
